<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="overlay">
        <div class="modal">
            <h2>Create Vault</h2>
            <form action="/api/container/createVaultContainer" method="POST">
                <input type="text" name="title" placeholder="title">
                <input type="text" name="description" placeholder="description">
                <button>Create</button>
            </form>
            <div class="close"><ion-icon name="close-outline"></ion-icon></div>
        </div>
    </div>
    <header>
        <h1 class="logo">Vaulify</h1>
        <button>Logout</button>
    </header>

    <section class="search-create">
        <input type="text" placeholder="Search for a vault">
        <button class="createVaultBtn">Create Vault</button>
    </section>

    <section class="vault-type">
        <h2>My Vaults</h2>
        <div class="vaults">

        </div>
    </section>
    <script src="/js/getVaultContainer.js"></script>
    <script src="/js/overlay.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>